.email_container{
  height: 100vh;
  margin-left: 92vw;
  position: fixed;
}
.email_content{
  position: fixed;
}
.email_content p{
  margin-top: 300px;
  transform: rotate(-90deg);
  font-size: 20px;
  color: rgb(204, 214, 246);
}
.email_container_bottom_border{
  height: 400px;
  width: 1px;
  border: 1px solid rgb(204, 214, 246);
  margin-left: 98px;
  margin-top: 100px;
}